.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #edeae5;
}

.container-home .menu {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.container-home .home {
    width: 100%;
    height: 100%;
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-home .content {
    width: 100%;
    height: 100%;
}

.content-home .bg-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-home .bg-home a {
    text-align: left;
    font-weight: 200;
    color: #edeae5;
    position: absolute;
    padding-left: 20px;
    bottom: 10px;
    opacity: 50%;
}


.content-home .bg-home .text-head {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: #edeae5;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-home .bg-home .text-head span {
    color: #e8175d;
}