.container-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #edeae5;
}

.content-login {
    display: flex;
    width: 100%;
    height: 100%;
}

.content-login .menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.content-login .menu a {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 2rem;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 47%, rgba(255, 158, 177, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease-in-out;
}

.content-login .menu a:hover {
    scale: 1.1;
}

.content-login .image-left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-login .image-left img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    z-index: 0;
}

.content-login .image-left h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 25rem;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-login .image-left a {
    position: absolute;
    font-weight: 100;
    color: #edeae5;
    text-align: left;
    padding-left: 20px;
    bottom: 10px;
    opacity: 50%;
    z-index: 1;
}

.content-login .form-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-login .form-right input {
    font-size: 1.2rem;
    font-weight: bold;
    color: #111;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: none;
    outline: none;
    border: none;
}

.content-login .form-right input::placeholder {
    opacity: 50%;
    color: #111;
}

.content-login .form-right i {
    color: #111;
    font-size: 1.2rem;
}

.content-login .form-right .username {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 1.6rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #111;
    transition: all 0.4s ease-in-out;
}

.content-login .form-right .username:hover {
    border-color: #e8175d
}

.content-login .form-right .password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 1.6rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #111;
    transition: all 0.4s ease-in-out;
}

.content-login .form-right .password:hover {
    border-color: #e8175d;
}

.content-login .form-right .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

.content-login .form-right .button button {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2rem;
    color: #111;
    background: none;
    border: 1px solid #111;
    transition: all 0.4s ease-in-out;
}

.content-login .form-right .button button:hover {
    border-color: #e8175d;
}

.content-login .width-line {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-login .line {
    width: 80%;
    height: 1px;
    background-color: #111;
}

.content-login .link-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-login .link-sign-up p {
    font-size: 0.6rem;
    font-weight: bold;
    color: #111;
}

.content-login .link-sign-up a {
    font-size: 0.6rem;
    font-weight: bold;
    text-decoration: none;
    color: #cc527a;
    transition: all 0.4s ease-in-out;
}

.content-login .link-sign-up a:hover {
    color: #e8175d
}