.container-menu-auth {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.content-menu-auth {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-menu-auth a {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
}

.content-menu-auth a:hover {
    color: #e8175d !important;
    scale: 1.1;
}

.content-menu-auth i {
    color: #edeae5;
    transition: all 0.4s ease-in-out;
}

.content-menu-auth i:hover {
    color: #e8175d;
}

.content-menu-auth .web-name {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 47%, rgba(255, 158, 177, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-menu-auth .nav-text {
    display: flex;
    justify-content: space-around;
}

.content-menu-auth .editprofile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-menu-auth .editprofile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.content-menu-auth .editprofile img:hover {
    scale: 1.1;
}