.container-mystore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #edeae5;
}

.container-mystore .menu {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.container-mystore .mystore {
    width: 100%;
    height: 100%;
}

.content-mystore {
    display: flex;
    width: 100%;
    height: 100%;
}

.content-mystore .tool-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #edeae5;
}

.content-mystore .content-tool {
    width: 100%;
}

.content-mystore .content-tool .box {
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    border: 1px solid #111;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.content-mystore .content-tool .box a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #a8a7a7;
    padding-left: 10px;
    transition: all 0.4s ease-in-out;
}

.content-mystore .content-tool .box a:hover {
    background-color: #e8175d !important;
    color: #edeae5 !important;
}

.content-mystore .show-products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: #edeae5;
}

.content-mystore .show-products .content-show {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    padding-top: 50px;
    border: 1px solid #111;
    overflow: scroll;
    overflow-x: hidden;
}

.content-mystore .show-products .content-show::-webkit-scrollbar {
    display: none;
}

.content-mystore .show-products .box-add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    padding: 1rem;
    border: 1px solid #111;
    box-shadow: #111 0px 20px 30px -10px;
}

.content-mystore .show-products .box-add-product i {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #111;
    border: 1px solid #111;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.content-mystore .show-products .box-add-product i:hover {
    background-color: #111 !important;
    color: #edeae5 !important;
}

.content-mystore .show-products .box {
    width: 280px;
    height: 300px;
    background-color: #111;
    padding: 1rem;
    box-shadow: #111 0px 20px 30px -10px;
}

.content-show .image-mystore {
    position: relative;
    width: 100%;
    height: 40%;
}

.content-show .image-mystore img {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 0;
    border: 1px solid #edeae5;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.content-show .image-mystore i {
    position: absolute;
    top: 5px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;  
    border: 1px solid #edeae5;
    background-color: #111;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    z-index: 2;
}

.content-show .image-mystore i:hover {
    background-color: #edeae5;
    color: #111;
}

.content-show .detail {
    width: 100%;
    height: 40%;
}

.content-show .detail .type {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.content-show .detail .type p {
    border: 1px solid #edeae5;
    padding: 0.2rem 0.8rem;
}

.content-show .detail .type p:last-child {
    background: none;
    border: none;
}

.content-show .mystore-name {
    width: 100%;
    height: 15%;
    border: 1px solid #edeae5;
    color: #edeae5;
    border-radius: 2rem;
    overflow: hidden;
}

.content-show .mystore-name p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.content-mystore .show-products .content-show .form-add-product {
    position: absolute;
    top: 0;
    width: 0%;
    height: 134%;
    background-color: rgba(0, 0, 0, 1);
    transition: width 2s;
    z-index: 5;
}

.content-mystore .show-products .content-show .form-add-product input {
    width: 140px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.content-mystore .show-products .content-show .form-add-product input[type = "file"] {
    display: none;
}

.content-mystore .show-products .content-show .form-add-product input::placeholder {
    opacity: 50%;
    color: #fff;
}

.content-mystore .show-products .content-show .form-add-product form {
    display: none;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 3s;
}

.content-mystore .show-products .content-show .form-add-product .label {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-bottom: 50px;
}

.content-mystore .show-products .content-show .form-add-product .label i {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.4s ease-in-out;
}

.content-mystore .show-products .content-show .form-add-product .label i:hover {
    background-color: #fff;
    color: #111;
}

.content-mystore .show-products .content-show .form-add-product .button-cancel a {
    width: 200px;
    border: 1px solid #fff;
}