.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #111;
}

.container-profile .menu {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.container-profile .profile {
    width: 100%;
    height: 100%;
}

.content-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-profile input {
    width: 150px;
    height: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.content-profile input[type = "file"] {
    display: none;
}

.content-profile .image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.content-profile .name {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.content-profile .tel-addr {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.content-profile .tel-addr textarea {
    font-family: "Poiret One", sans-serif;
    letter-spacing: 0.2rem;
    width: 150px;
    height: 60px;
    padding: 10px;
    background: none;
    outline: none;
    resize: none;
}

.content-profile .fname,
.content-profile .lname,
.content-profile .tel {
    display: flex;
    align-items: flex-start;
}

.content-profile .addr {
    display: flex;
    align-items: flex-start;
}

.content-profile .button-cancel-submit {
    display: flex;
    justify-content: space-between;
}