:root {
  background-color: #edeae5;
  color: #edeae5;
}

* {
  margin: 0;
}

a {
  font-family: "Quicksand", sans-serif;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

button {
  font-family: "Quicksand", sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  color: #edeae5;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button[type="reset"] {
  background-color: #e8175d;
  transition: all 0.4s ease-in-out;
}

button[type="reset"]:hover {
  background-color: #cc527a;
}

button[type="submit"] {
  transition: all 0.4s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #00b300;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}